@import "../../global.scss";


.topbar {
   width: 100%;
   height: 70px;
   background-color: $mainColor;
   color: white;
   position: fixed;
   top: 0;
   z-index: 3;

   .wrapper {
      padding: 10px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
         display: flex;
         .logo {
            font-size: 40px;
            font-weight: 700;
            text-decoration: none;
            color: inherit;
         }
      }

      .right {
         display: flex;
         .nav {
            display: flex;
            gap: 20px;
            
             * {
               font-size: 20px;
               font-weight: 400;
               text-decoration: none;
               color: inherit;
            }

            @media (max-width: 576px) {
               display: none;
            }
         }

         .hamburger {
            width: 35px;
            height: 35px;
            display: none;
            flex-direction: column;
            justify-content: space-evenly;
            cursor: pointer;

            span {
               width: 100%;
               height: 3px;
               background-color: white;
               transform-origin: left;
               transition: all .6s ease;
            }

            @media (max-width: 576px) {
               display: flex;
            }
         }

         .active {
            span {
               &:first-child{
                  transform: rotate(33deg);
               }
               &:nth-child(2){
                  opacity: 0;
               }
               &:last-child{
                  transform: rotate(-33deg);
               }
            }
         }

         
      }
   }
}